<div class="container mt-5">
  <h2 class="mb-4">Tabela de Pessoas</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nome</th>
          <th scope="col">Endereço</th>
          <th scope="col">CEP</th>
          <th scope="col">UF</th>
          <th scope="col">Contato</th>
          <th scope="col">Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let person of people$ | async">
          <td>{{person.id}}</td>
          <td>{{person.nome | uppercase}}</td>
          <td>{{person.cidade | uppercase}}, {{ person.endereco | uppercase }}</td>
          <td>{{person.cep}}</td>
          <td>{{person.uf}}</td>
          <td><button class="btn btn-primary" (click)="callback(person.id!)">Exibir</button></td>
          <td class="d-flex justify-content-evenly">
            <div class="btn-group">
              <button type="button" class="btn btn-primary" [routerLink]="['pessoas/edit', person.id]">Editar</button>
              <button type="button" class="btn btn-danger" (click)="personDelete(person.id!)">Excluir</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
